@font-face {
    font-family: 'MaziusDisplay-Bold';
    font-style: 'bold';
    font-weight: 400;
    src: url('../font/MaziusDisplay-Bold.woff');
}
@font-face{
    font-family: 'Revamped';
    font-size: 'bold';
    font-weight: 400;
    src: url('../font/Revamped.wotf');
}
@font-face{
    font-family: 'cocogoose';
    font-size: 'bold';
    font-weight: 400;
    src: url('../font/Cocogoose-Pro-Bold-trial.woff');
}
@font-face{
    font-family: 'Jua';
    font-size: 'normal';
    font-weight: 400;
    src: url('../font/Jua-Regular.woff');
}
@font-face{
    font-family: 'PaulSlab-Bold-Trail';
    font-size: 'bold';
    font-weight: 400;
    src: url('../font/PaulSlab-Bold-Trail.woff');
}
@font-face {
    font-family: 'bookman_old_style-Bold';
    src: url('../font/BOOKOSB.woff') format('opentype');
}
@font-face {
    font-family: 'bookman_old_style';
    src: url('../font/BOOKOS.woff') format('opentype');
}