/* setting */
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: 'pretendard';
    overflow: hidden;
}
/* animaition 1 */
h1{
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
    mix-blend-mode: difference;
}
h2{
    font-size: 8rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    mix-blend-mode: difference;
}
.web_portfolio{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    flex-direction: column;
    mix-blend-mode: difference;
    z-index: 9;
}
.web_portfolio h1{
    margin: 8px 0;
    opacity: 0;
}
.web_portfolio h1:nth-child(1){
    animation-name: animation_01; 
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode:forwards;
}
@keyframes animation_01{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.web_portfolio h1:nth-child(2){
    animation-name: animation_02; 
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}
@keyframes animation_02{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.web_portfolio h2{
    margin: 8px 0;
    opacity: 0;
    mix-blend-mode: normal;
}
.web_portfolio h2:nth-child(3){
    animation-name: animation_03; 
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
}
@keyframes animation_03{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.web_portfolio h2:nth-child(4){
    animation-name: animation_04; 
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode:forwards;
}
@keyframes animation_04{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.web_portfolio{
    animation-name: animation_5; 
    animation-duration: 2s;
    animation-delay: 4.5s;
    animation-fill-mode:forwards;
}
@keyframes animation_5{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.half{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
}
.left_box{
    left: 100%;
    animation-name: animation_6; 
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
}
@keyframes animation_6{
    0%{
        left: 100%;
    }
    50%{
        left: 50%;
        top: 0%;
    }
    75%{
        left: 50%;
        top: 0%;
    }
    100%{
        left: 50%;
        top: -100%;
    }
}
.right_box{
    right: 100%;
    animation-name: animation_7; 
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
}
@keyframes animation_7{
    0%{
        right: 100%;
    }
    50%{
        right: 50%;
        top: 0%;
    }
    75%{
        right: 50%;
        top: 0%;
    }
    100%{
        right: 50%;
        top: -100%;
    }
}


@media screen and (max-width: 1025px){
    h1{
        font-size: 96px;
    }
    h2{
        font-size: 96px;
        -webkit-text-stroke: 1px #fff;
    }
    .web_portfolio h1{
        padding: 2px 0;
    }
    .web_portfolio h2{
        padding: 2px 0;
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 38px;
        -webkit-text-stroke: 0.5px #fff;
    }
    .web_portfolio h1{
        padding: 4px 0;
    }
    .web_portfolio h2{
        padding: 4px 0;
    }
}