*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
video{
    width: 100%;
}
body{
    background-color: #FECD27;
    color: #222;
    font-family: 'pretendard';
}
.wrap{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}
.responsive{
    display: none;
}
.mobile{
    display: none;
}
.btn{
    cursor: pointer;
}
/* header st */
header{
    width: 100%;
    height: 120px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .2);
    transition: all .5s;
    z-index: 999;
}
header:hover{
    background-color: #fff;
}
header ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul .logo.responsive{
    width: 160px;
}
header ul .btn_box .hamburger{
    width: 42px;
    height: 32px;
    position: relative;
    display: none;
}
header ul .btn_box .hamburger.active{
    display: block;
}
header ul .btn_box .hamburger .line{
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
    transition: all .5s;
}
header:hover ul .btn_box .hamburger .line{
    background-color: #999;
}
header ul .btn_box .hamburger .line:nth-child(1){
    top: 0;
}
header ul .btn_box .hamburger .line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header ul .btn_box .hamburger .line:nth-child(3){
    bottom: 0;
}

header ul .btn_box .X-mark{
    width: 42px;
    height: 32px;
    position: relative;
    display: none;
}
header ul .btn_box .X-mark.active{
    display: block;
}
header ul .btn_box .X-mark .line{
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #999;
    border-radius: 2px;
    transition: all .5s;
}
header ul .btn_box .X-mark .line:nth-child(1){
    transform: translateY(-50%) rotate(45deg);
}
header ul .btn_box .X-mark .line:nth-child(2){
    transform: translateY(-50%) rotate(-45deg);
}
header ul .logo.desk{
    width: 100px;
    height: 100px;
}
header ul .helper a{
    margin-left: 12px;
    color: #999;
    font-size: 18px;
    font-weight: 600;
}
/* header ed */
/* menu st */
.menu_wrap{
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    transition: all .5s;
    z-index: 99;
}
.menu_wrap.active{
    left: 0;
}
.menu_wrap .menu li a{
    width: 100%;
    padding: 20px 40px;
    display: inline-block;
    color: #FECD27;
    font-size: 48px;
    transition: all .5s;
}
.menu_wrap .menu li:hover a{
    background-color: #FECD27;
    color: #fff;
}

/* menu ed */
footer{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #6F4E37;
}
footer .footer_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer_wrap .logo{
    width: 360px;
}
footer .footer_wrap .txt_box{
    padding-top: 20px;
}
footer .footer_wrap .txt_box li{
    padding: 12px 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
}
footer .footer_wrap .txt_box .copyright{
    font-size: 16px;
    color: #eee;
}

