/* visual st */
.visual{
    width: 100%;
    aspect-ratio: 16/8;
    overflow: hidden;
}
.visual_slide_desk{
    width: 100%;
    height: 100%;
}
.visual .visual_slide_desk .swiper-pagination{
    bottom: 20px;
}
.visual .visual_slide_desk .swiper-pagination-bullet{
    width: 100px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(255, 255, 255, .8);
}
.visual .visual_slide_desk .swiper-pagination-bullet-active{
    background-color: #fff;
}
.visual .visual_slide_mobile .swiper-pagination-bullet{
    width: 60px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(255, 255, 255, .8);
}
.visual .visual_slide_mobile .swiper-pagination-bullet-active{
    background-color: #fff;
}
/* visual ed */
/* best st */
.best{
    margin-top: 200px;
    padding: 20px 40px;
    overflow: hidden;
}
.best .tit{
    padding-bottom: 40px;
}
.best .tit h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #222;
}

.best .best_slide{
    overflow: visible;
}
.best .best_slide .swiper-wrapper .swiper-slide{
    aspect-ratio: 1/1.25;
    padding: 40px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #eee;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #fff;
    z-index: 9;
}
.best .best_slide .swiper-wrapper .swiper-slide::before{
    content: "";
    width: 12px;
    height: 100%;
    position: absolute;
    top: 14px;
    right: -14px;
    border-top-right-radius: 12px;
    background-color: #ddd;
    z-index: 1;
}
.best .best_slide .swiper-wrapper .swiper-slide::after{
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -14px;
    right: -14px;
    border-bottom-left-radius: 12px;
    background-color: #ddd;
    z-index: 1;
}
.best .best_slide .swiper-wrapper .swiper-slide .img_box{
    width: 75%;
    aspect-ratio: 1/1;
    border: 2px solid #eee;
    border-radius: 12px;
    overflow: hidden;
}
.best .best_slide .swiper-wrapper .swiper-slide .txt_box{
    text-align: center;
    color: #222;
}
.best .best_slide .swiper-wrapper .swiper-slide .txt_box .name{
    font-size: 24px;
    font-weight: bold;
}
.best .best_slide .swiper-wrapper .swiper-slide .txt_box .en_name{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 500;
}
/* best ed */
/* franchise st */
.franchise{
    margin-top: 200px;
    padding: 140px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt_box.responsive{
    text-align: center;        
}
.txt_box.responsive h3{
    font-size: 18px;
    color: #fff;
    padding-bottom: 8px;
}
.txt_box.responsive h2{
    font-size: 20px;
    letter-spacing: -1px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: bold;
}
.franchise .franchise_btn{
    max-width: 1280px;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
    border: 4px solid #eee;
    border-radius: 123px;
    transition: all .5s;
}
.franchise .franchise_btn:hover{
    background-color: #F7A60C;
    border: 4px solid #FF8022;    
}
.franchise .franchise_btn h3{
    font-size: 20px;
    color: #999;
}
.franchise .franchise_btn h2{
    font-size: 32px;
    padding: 24px 0;
    font-weight: bold;
}
.franchise .franchise_btn h4{
    font-size: 18px;
    color: #999;
}
.franchise .franchise_btn:hover h3{
    color: #eee;
}
.franchise .franchise_btn:hover h2{
    color: #fff;
}
.franchise .franchise_btn:hover h4{
    color: #eee;
}
.franchise .img_box{
    position: absolute;
}
.franchise .img_box.mascot{
    width: 200px;
    left: 40px;
    bottom: 0;
}
.franchise .img_box.picture{
    width: 360px;
    right: 40px;
    bottom: 0;
}
/* franchise ed */
/* notice st */
.notice{
    margin-top: 200px;
    padding: 0 40px;
}
.notice .news_wrap{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.notice .news_wrap .logo_box{
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF8022;
}
.notice .news_wrap .logo_box .tit{
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}
.notice .news_wrap .logo_box .img_box{
    width: 50%;
}
.notice .news_wrap .news_box{
    width: 70%;
    height: auto;
}
.notice .news_wrap .news_box li{
    width: 100%;
    height: 25%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE078;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.notice .news_wrap .news_box li:first-child{
    border-top: none;
}
.notice .news_wrap .news_box li:last-child{
    border-bottom: none;
}
.notice .news_wrap .news_box li h3{
    width: 80%;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 600;
    overflow:hidden;
    text-overflow:ellipsis;
}
.notice .news_wrap .news_box li span{
    width: 32px;
}
.notice .event_slide{
    margin-top: 100px;
    max-width: 1280px;
    aspect-ratio: 2/1;
    border-radius: 20px;
}
.notice .event_slide .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.notice .event_slide .event_pagination{
    width: auto;
    height: auto;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.notice .event_slide .event_pagination .swiper-pagination-bullet{
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}


/* notice ed */
/* app st */
.app{
    margin-top: 200px;
    width: 100%;
    height: 500px;
    background-color: #914F1E;
    position: relative;
    overflow: hidden;
}
.app .txt_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.app .txt_box h4{
    font-size: 24px;
    color: #eee;
    white-space: nowrap;
}
.app .txt_box h3{
    margin-top: 20px;
    font-size: 32px;
    color: #fff;
    white-space: nowrap;
}
.app .txt_box .app_btn{
    display: inline-block;
    margin-top: 20px;
    padding: 16px 48px;
    font-size: 28px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 32px;
    white-space: nowrap;
}
.app .app_slide{
    width: 240px;
    position: absolute;
    left: 10%;
    top: 20%;
    border-radius: 12px;
    overflow: hidden;
}
.app > .img_box{
    width: 30%;
    position: absolute;
    right: 40px;
    bottom: 0;
}
/* app ed */