body{
    background-color: #000;
    color: #fff;
    font-family: 'pretendard';
}
strong{
    font-weight: bold;
}
img{
    width: 100%;
}
/* header st */
header{
    width: 100%;
    height: 60px;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border-bottom: 2px solid #eee;
    box-sizing: border-box;
    font-family: 'bookman_old_style';
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 999;
}
header .menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
header .menu .logo{
    width: 100px;
}
header .menu .logo a svg{
    width: 100%;
}
.btn{
    cursor: pointer;
}
header .menu .hamburger{
    width: 32px;
    height: 24px;
    position: relative;
}
header .menu .hamburger.active{
    display: none;
}
header .menu .hamburger .line{
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
}
header .menu .hamburger .line:nth-child(1){
    top: 0;
}
header .menu .hamburger .line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header .menu .hamburger .line:nth-child(3){
    bottom: 0;
}
header .menu .X-mark{
    width: 32px;
    height: 32px;
    position: relative;
    display: none;
}
header .menu .X-mark.active{
    display: block;
}
header .menu .X-mark .line{
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #fff;
    border-radius: 2px;
}
header .menu .X-mark .line:nth-child(1){
    transform: translateY(-50%) rotate(45deg);
}
header .menu .X-mark .line:nth-child(2){
    transform: translateY(-50%) rotate(-45deg);
}
/* header ed */
/* mobile menu st */
.mobile_menu_container{
    width: 100%;
    height: 100%;
    padding-left: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
}
.mobile_menu_container.active{
    display: block;
}
.mobile_menu_container .mobile_menu_wrap{
    width: calc(100% - 60px);
    height: 100%;
    padding-top: 60px;
    background-color: #000;
}
.mobile_menu_container .mobile_menu_wrap .mobile_menu li a{
    width: 100%;
    padding: 28px 0;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
/* mobile menu ed */
/* footer st */
footer{
    width: 100%;
    height: 400px;
    background-color: #111;
    border-top: 2px solid #eee;
    box-sizing: border-box;
    color: #ddd;
}
footer .footer_wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer_wrap .site{
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 12px;
}
footer .footer_wrap .txt_box{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
footer .footer_wrap .txt_box ul{    
    padding-bottom: 12px;
    display: flex;
    gap: 20px;
}
footer .footer_wrap .txt_box .link{
    color: #fff;
}
footer .footer_wrap .site p{
    padding-left: 16px;
    position: relative;
}
footer .footer_wrap .site p::before{
    content: "";
    width: 6px;
    height: 4px;
    position: absolute;
    left: -6px;
    top: 35%;
    border: 6px solid transparent;
    border-top: 6px solid #eee;
    box-sizing: border-box;
}
/* footer ed */