@font-face {
    font-family: 'bookman_old_style-Bold';
    src: url('../../../font/BOOKOSB.woff') format('opentype');
}
@font-face {
    font-family: 'bookman_old_style';
    src: url('../../../font/BOOKOS.woff') format('opentype');
}