*{
    box-sizing: border-box;
}
body{
    color: #222;
    font-family: 'pretendard';
}
.wrap{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}
img{width: 100%;}
strong{
    font-weight: bold;
}
.responsive{
    display: none;
}
.mobile{
    display: none;
}
/* header st */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    z-index: 999;
}
header .header_wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
header .header_wrap .left_menu{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 24px;
    font-weight: 600;
}
header .header_wrap .left_menu .logo{
    width: 110px;
}
header .header_wrap .right_menu{
    display: flex;
    gap: 20px;
    color: #666;
}
header .header_wrap .responsive_menu{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
header .header_wrap .responsive_menu .logo{
    width: 80px;
}
header .header_wrap .responsive_menu .btn{
    width: 32px;
    height: 20px;
    position: relative;
    display: none;
}
header .header_wrap .responsive_menu .btn .line{
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #222;
    border-radius: 1px;
}
header .header_wrap .responsive_menu .btn.hamburger .line:nth-child(1){
    top: 0;
}
header .header_wrap .responsive_menu .btn.hamburger .line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header .header_wrap .responsive_menu .btn.hamburger .line:nth-child(3){
    bottom: 0;
}
header .header_wrap .responsive_menu .btn.X-mark .line:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header .header_wrap .responsive_menu .btn.X-mark .line:nth-child(2){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}


header .header_wrap .responsive_menu .btn.active{
    display: block;
}
/* header ed */
/* mobile menu */
.mobile_menu_wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 99;
    background-color: #fff;
    transition: all 0.5s;
}
.mobile_menu_wrap.active{
    left: 0;
}
.mobile_menu_wrap .mobile_menu{
    padding: 60px 20px 0 20px;
}
.mobile_menu_wrap .mobile_menu li a{
    width: 100%;
    padding: 28px 0;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

/* footer st */
footer{
    width: 100%;
    height: 400px;
    background-color: #eee;
}
footer .footer_wrap{
    height: 100%;
    display: flex;
    align-items: center;
}
footer .footer_wrap .txt_box ul{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
footer .footer_wrap .txt_box .site_list{
    font-size: 20px;
}

/* footer ed */