.wrap{
    width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
/* header */

/* 검색 영역 */
.header_wrap{
    width: 1340px;
    margin: 0 auto 30px auto;
    height: 186px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
/* 상단 아이콘 */
.header_wrap .menu_bar{
    width: 1340px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.header_wrap .menu_bar .menu{
    padding-top: 6px;
    display: flex;
    gap: 8px;
}
.header_wrap .menu_bar .menu li a{
    width: 32px;
    height: 32px;
    padding: 8px;
    display: inline-block;
    border-radius: 24px;
    position: relative;
}
.header_wrap .menu_bar .menu li:hover a{
    background-color: #f5f7f8;
}
.header_wrap .menu_bar .menu li a::after{
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header_wrap .menu_bar .menu.left li:nth-child(1) a::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -285px -214px;
}
.header_wrap .menu_bar .menu.left li:nth-child(2) a::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -326px -33px;
}
.header_wrap .menu_bar .menu.right li:nth-child(1) a::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -326px -165px;
}
.header_wrap .menu_bar .menu.right li:nth-child(2) a::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -246px -229px;
}
.header_wrap .menu_bar .menu.right li:nth-child(3) a::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -326px -99px;
}
/* 검색 바 */
.header_wrap .search_box{
    width: 708px;
    height: 60px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    box-sizing: border-box;
    display: flex;
}
.header_wrap .search_box:hover{
    box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.10);
}
.header_wrap .search_box .logo svg{
    padding: 17px 16px 17px 27px;
    width: 24px;
    height: 24px;
    display: block;
    fill: #03c75a;
}
.header_wrap .search_box .input_box{
    width: 480px;
    height: 58px;
}
input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input::-ms-clear { display: none; }
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
.header_wrap .search_box .input_box .search_input{
    width: 100%;
    height: 58px;
    color: #000;
    padding: 17px 0;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    outline: none;
}
.header_wrap .search_box .input_box .search_input::placeholder{
    color: transparent;
}
.header_wrap .search_box .input_box .search_input:focus::placeholder{
    color: #ddd;
    font-size: 20px;
    font-weight: normal;
}
.header_wrap .search_box .btn_keyboard{
    width: 30px;
    height: 58px;
    margin-left: 48px;
    position: relative;
    cursor: pointer;
}
.header_wrap .search_box .btn_keyboard::before{
    content: " ";
    width: 24px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -240px -270px;
}
.header_wrap .search_box .btn_keyboard:hover::before{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -215px -270px;
}
.header_wrap .search_box .btn_arrow{
    width: 22px;
    height: 58px;
    position: relative;
    cursor: pointer;
    padding: 26px 6px;
    box-sizing: border-box;
}
.header_wrap .search_box .btn_arrow::before{
    content: " ";
    width: 10px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -123px -98px;
}
.header_wrap .search_box .btn_arrow.active::before{
    transform: translate(-50%, -50%) rotate(-180deg);
}
.header_wrap .search_box .search_mark .btn_search{
    width: 28px;
    height: 28px;
    padding: 16px 27px 15px 10px;
    display: block;
    fill: #03c75a;
    cursor: pointer;
}
/* 아이콘 */
.header_wrap .icon_container .icon_list{
    margin-top: 8px;
    display: flex;
}
.header_wrap .icon_container .icon_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_wrap .icon_container .icon_list li a .img_box{
    width: 40px;
    height: 40px;
    margin:  0 6.2px;
    position: relative;
}
.header_wrap .icon_container .icon_list li a .img_box::before{
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -193px 0px;
    background-repeat: no-repeat;
}
.header_wrap .icon_container .icon_list li:hover a .img_box::before{
    background-image: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -102px -107px;
}
.header_wrap .icon_container .icon_list li a .img_box::after{
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header_wrap .icon_container .icon_list li:nth-child(1) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -241px -40px;
}
.header_wrap .icon_container .icon_list li:nth-child(2) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -83px -183px;
}
.header_wrap .icon_container .icon_list li:nth-child(3) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -42px -183px;
}
.header_wrap .icon_container .icon_list li:nth-child(4) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -161px -228px;
}
.header_wrap .icon_container .icon_list li:nth-child(5) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -79px -228px;
}
.header_wrap .icon_container .icon_list li:nth-child(6) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -282px 1px;
}
.header_wrap .icon_container .icon_list li:nth-child(7) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -123px -228px;
}
.header_wrap .icon_container .icon_list li:nth-child(8) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -241px -80px;
}
.header_wrap .icon_container .icon_list li:nth-child(9) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -282px -40px;
}
.header_wrap .icon_container .icon_list li:nth-child(10) a .img_box::after{
    background: url(../img/chzzk_logo.png);
    background-size: 100%;
    background-position: 2px 2px;
}
.header_wrap .icon_container .icon_list li:nth-child(11) a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -38px -228px;
}
.header_wrap .icon_container .icon_list li:nth-child(11):hover a .img_box::after{
    background: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: 3px -228px;
}
.header_wrap .icon_container .icon_list li a .txt_box{
    margin: 10px 0 0 8px;
    width: 42px;
    text-align: center;
    font-size: 13.65px;
}
.header_wrap .icon_container .icon_list li:last-child a .img_box{
    margin: 0 21px 0 35px;
}
.header_wrap .icon_container .icon_list li:nth-child(12){
    position: relative;
}
.header_wrap .icon_container .icon_list li:nth-child(12)::after{
    content: " ";
    width: 0.5px;
    height: 22px;
    position: absolute;
    top: 11px;
    left: 14px;
    background-color: #e9e9e9;
}
.header_wrap .icon_container .icon_list li:nth-child(12) a .img_box::after{
    background: url(../img/AD_icon.png);
    background-size: cover;
    background-position: center;
}
.header_wrap .icon_container .icon_list li:last-child a .txt_box{
    width: 82px;
    margin-left: 14px;
    text-align: center;
    font-size: 13.65px;
}
.header_wrap .header_banner a{
    width: 240px;
    position: absolute;
    right: 40px;
    bottom: -10px;
}
.header_wrap .header_banner a img{
    width: 100%;
}


/* 메인 영역 */
.main_wrap{
    margin-bottom: 58px;
    display: flex;
    gap: 30px;
}
.sec{
    width: 100%;
    margin-top: 16px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-sizing: border-box;
}
.sec:first-child{
    margin-top: 0;
}
/* 메인 콘텐츠 영역 */
.main_con{
    width: 830px;
}
/* 광고 영역 */
.main_con .AD_box{
    height: 130px;
    overflow: hidden;
}
.main_con .AD_box img{
    width: 100%;
}
/* 뉴스 영역 */
.News_area .tit_box ul{
    display: flex;
    padding: 18px 20px 17px 20px;
}
.News_area .tit_box ul li{
    font-size: 16.8px;
    padding-right: 24px;
    position: relative;
    color: rgba(8, 8, 8, .5);
    font-weight: 600;
    cursor: pointer;
}
.News_area .tit_box ul li:hover{
    text-decoration: underline;
}
.News_area .tit_box ul li.active{
    color: #080808;
}
.News_area .tit_box ul li::after{
    content: "/";
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(-50%, -50%);
    font-weight: 100;
    color: #E3E5E8;
}
.News_area .tit_box ul li:nth-child(1){
    padding-right: 16px;
}
.News_area .tit_box ul li:nth-child(1)::after{
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #E3E5E8;
    right: 4px;
}
.txt_list .list_box .list{
    margin: 0 20px;
    padding: 12px 20px;
    background-color: #f5f7f8;
    border-radius: 4px;
    font-size: 14.7px;
    display: none;
}
.txt_list .list_box .list.active{
    display: block;
}
.txt_list .list_box .list ul{
    display: flex;
}
.txt_list .list_box .list ul li{
    padding-right: 24px;
    line-height: 26px;
    position: relative;
}
.txt_list .list_box .list ul li::after{
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50% ,-50%);
    border-radius: 4px;
    background-color: #d3d5d7;
}
.txt_list .list_box .list ul li.none::after{
    content: none;
}
.txt_list .list_box .list ul li.arrow::after{
    content: " ";
    width: 9px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(-50% ,-50%);
    background-color: #f5f7f8;
    background-image: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -143px -176px;
}
.txt_list .list_box .list ul li.left_bar{
    padding: 0 0 0 12px;
}
.txt_list .list_box .list ul li.left_bar::after{
    content: " ";
    width: 0.5px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50% ,-50%);
    background-color: #d3d5d7;
}
.txt_list .list_box .list ul li.right{
    margin-left: auto;
    padding-right: 12px;
}
.txt_list .list_box .list ul li.right::after{
    content: none;
}
.txt_list .list_box .list ul li:last-child{
    padding-right: 0;
}
.txt_list .list_box .list ul li:hover{
    text-decoration: underline;
}
/* swiper 슬라이드 */
.News_slide_01{
    width: 390px;
    height: 26px;
    padding-left: 12px;    
}
.News_slide_01::after{
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(-50% ,-50%);
    border-radius: 4px;
    background-color: #d3d5d7;
}
.News_slide .swiper-slide p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.News_slide .swiper-slide span{
    white-space: nowrap;
    position: relative;
}
.News_slide .swiper-slide h3{
    position: relative;
    white-space: nowrap;
    color: #F4361E;
    padding: 0 6px;
    margin-right: 6px;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    border: 0.5px solid #F4361E;
    border-radius: 14px;
}
.txt_list .list_box .list ul li.slide_box:hover{
    text-decoration: none;
}
.News_slide .swiper-slide p:hover{
    text-decoration: underline;
}
.News_slide_02{
    width: 480px;
    height: 26px;
}
.News_slide_02 .swiper-slide{
    display: flex;
}
.News_slide_02 .swiper-slide span{
    padding-right: 12px;    
}
.News_slide_02 .swiper-slide span:hover{
    text-decoration: underline;
}
.News_slide_02 .swiper-slide span::after{
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(-50% ,-50%);
    border-radius: 4px;
    background-color: #d3d5d7;
}
.News_slide_02 .swiper-slide p:hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 480px;
    height: 26px;
}
.News_slide_03 .swiper-slide{
    display: flex;
}
.News_slide_03 .swiper-slide span{
    padding-right: 24px;    
}
.News_slide_03 .swiper-slide span::after{
    content: " ";
    width: 0.5px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(-50% ,-50%);
    background-color: #d3d5d7;
}
.contents_container{
    padding: 20px;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
}
.contents_container ul{
    width: 100%;
    height: 100%;
}
.contents_container ul .contents_box{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
}
.contents_container ul .contents_box.active{
    display: block;
}
.contents_container ul .contents_box_01 .media_company_list{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 0.5px solid #ebebeb;
}
.contents_container ul .contents_box_01 .media_company_list .img_box{
    width: 20%;
    height: 25%;
    padding: 15px 0;
    text-align: center;
    border: 0.5px solid #ebebeb;
    box-sizing: border-box;
    background-color: #fff;
}
.contents_container ul .contents_box_01 .media_company_list .img_box:nth-child(5n){
    border-right: 0;
}
.contents_container ul .contents_box_01 .media_company_list .img_box img{
    height: 100%;
}
.contents_container ul .contents_box_02{
    padding-bottom: 12px;
    box-sizing: border-box;
}
.contents_container ul .contents_box_02.active{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 16px;
}
.contents_container ul .contents_box > .contents{
    width: calc(50% - 8px);
    height: 50%;
    display: flex;
    gap: 16px;
}
.contents_container ul .contents_box_02 .contents .img_box{
    width: calc(40% - 8px);
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.contents_container ul .contents_box > .contents .img_box img{
    width: 100%;
    height: 100%;
    object-position: center;
}
.contents_container ul .contents_box_02 .contents .txt_box{
    width: calc(60% - 8px);
    height: 100%;
    font-size: 13.65px;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box .img_box{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 0.5px solid #ebebeb;
    overflow: hidden;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box .img_box img{
    width: 100%;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box h4{
    padding-left: 4px;
    cursor: pointer;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box h4:hover{    
    text-decoration: underline;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box h3{
    padding: 6px 16px 6px 6px;
    margin-left: auto;
    position: relative;
    font-size: 12.6px;
    font-weight: 900;
    color: #3a67ea;
    border: 1px solid rgba(58, 103, 234, .3);
    border-radius: 12px;
    cursor: pointer;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box h3:hover{
    background-color: #EFF3FD;
}
.contents_container ul .contents_box_02 .contents .txt_box .tit_box h3::after{
    content: " ";
    width: 10px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50% ,-50%);
    background-image: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -348px -297px;
}
.contents_container ul .contents_box_02 .contents .txt_box p{
    width: 100%;
    height: 46px;
    line-height: 20px;
    padding-top: 8px;
    font-size: 14.7px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.contents_container ul .contents_box_02 .contents .txt_box p:hover{
    text-decoration: underline;
}
.contents_container ul .contents_box_02 .contents .txt_box h5{
    padding-top: 16px;
    color: #606060;
}
.contents_container ul .contents_box_03{
    padding-bottom: 12px;
    box-sizing: border-box;
}
.contents_container ul .contents_box_03.active{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 16px;
}
.contents_container ul .contents_box_03 .contents .img_box{
    width: calc(50% - 8px);
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.contents_container ul .contents_box_03 .contents .txt_box{
    width: calc(50% - 8px);
    height: 100%;
    font-size: 13.65px;
}








.btn_container{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E3E5E8;
    font-size: 13.65px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.btn_container .btn_box ul li{
    display: none;
}
.btn_container .btn_box ul li.active{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn_container .btn_box ul li .btn{
    width: 34px;
    height: 34px;
    position: relative;
    background-color: #fff;
    border: 1px solid #dadcdf;
    border-radius: 17px;
    cursor: pointer;
}
.btn_container .btn_box ul li .btn:hover{
    background-color: #fbfbfc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.btn_container .btn_box ul li .btn::after{
    content: " ";
    width: 10px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-image: url(../img/sp_main.png);
    background-size: 458px 444px;
    background-position: -78px -432px;
}
.btn_container .btn_box ul li .prev_btn::after{
    transform: translate(-50% ,-50%) rotate(-180deg);
}
.btn_container .btn_box ul li .txt_box{
    display: flex;
    font-weight: bold;
    color: #606060;
}
.btn_container .btn_box ul li .txt_box P{
    opacity: 0.6;
}
.btn_container .btn_box ul li .txt_box span{
    color: #3a67ea;
}
.btn_container .btn_box ul li:nth-child(3) .txt_box span{
    color: #e538e2;
}
.btn_container .btn_box ul li:nth-child(5) .txt_box span{
    color: #008f76;
}
.btn_container .btn_box ul li:nth-child(6) .txt_box span{
    color: #9858f5;
}
/* 쇼핑 영역 */
.main_con .shopping{
    height: 560px;
}
.main_con .choice{
    height: 2449px;
}

/* 사이드 컨텐츠 */
.side_con{
    width: 420px;
}
.side_con .log_in{
    height: 164px;
}
.side_con .AD{
    height: 240px;
}
.side_con .Daily{
    height: 236px;
}
.side_con .banner{
    height: 80px;
}
.side_con .sticky_wrap{
    position: sticky;
    top: -1000px;
}
.side_con .widget{
    height: 806px;
}



