/* section st */
section{
    width: 100%;
    margin-bottom: 150px;
}
/* visual st */
.visual{
    height: 100vh;
}
.visual .slide_container{
    width: 100%;
    height: 100%;
}
.visual .slide_container .swiper-wrapper .swiper-slide{
    position: relative;
}
.visual .slide_container .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.visual .slide_container .swiper-wrapper .swiper-slide img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 40px;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
}
/* visual ed */
/* introduction st */
.introduction{
    height: 100vh;
    position: relative;
}
.introduction .container{
    width: 100%;
    height: 100%;
    display: flex;
}
.introduction .container .content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.introduction .container .content:nth-child(1){
    background-image: url(../img/introduction_01.png);
}
.introduction .container .content:nth-child(2){
    background-image: url(../img/introduction_02.png);
}
.introduction .container .content{
    background-size: cover;
    background-position: center;
}
.introduction .container .content .txt_box{
    text-align: center;
}
.introduction .container .content:nth-child(1) .txt_box{
    color: #fff;
}
.introduction .container .content .txt_box h2{
    font-size: 32px;
    font-weight: 600;
}
.introduction .container .content .txt_box h1{
    padding: 20px 0;
    font-family: 'Jua';
    font-size: 64px;
}
.introduction .container .content .txt_box h3{
    padding-top: 16px;
    font-size: 20px;
}
.introduction .container .content .btn{
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 32px;
    background-color: #fff;
    border: 2px solid #999;
    transition: all 0.5s;
}
.introduction .container .content .btn h3{
    padding-right: 20px;
    position: relative;
}
.introduction .container .content .btn h3::after{
    content: " ";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 40%;
    right: 0;
    background-color: #222;
    border-radius: 2px;
    transform: rotate(45deg);
}
.introduction .container .content .btn h3::before{
    content: " ";
    width: 2px;
    height: 75%;
    position: absolute;
    top: -10%;
    right: 0;
    background-color: #222;
    border-radius: 2px;
    transform: rotate(-45deg);
}
.introduction .container .content .btn:hover{
    background-color: #E1002B;
    border: 2px solid #fff;
}
.introduction .container .content .btn:hover h3::after{
    background-color: #fff;
}
.introduction .container .content .btn:hover h3::before{
    background-color: #fff;
}
.introduction .container .content .btn:hover h3{
    color: #fff;
}
.introduction .container .content:nth-child(2) .btn{
    background-color: #E1002B;
    border: 2px solid #fff;
}
.introduction .container .content:nth-child(2) .btn h3{
    color: #fff;
}
.introduction .container .content:nth-child(2) .btn h3::after{
    background-color: #fff;
}
.introduction .container .content:nth-child(2) .btn h3::before{
    background-color: #fff;
}
.introduction .container .content:nth-child(2) .btn:hover{
    background-color: #fff;
    border: 2px solid #999;
}
.introduction .container .content:nth-child(2) .btn:hover h3{
    color: #222;
}
.introduction .container .content:nth-child(2) .btn:hover h3::after{
    background-color: #222;
}
.introduction .container .content:nth-child(2) .btn:hover h3::before{
    background-color: #222;
}
.introduction .img_box{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.introduction .img_box img{
    width: 100%;
}
/* introduction ed */
/* choice st */
.choice .tit_box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.choice .tit_box h1{
    font-size: 64px;
    font-weight: 900;
}
.choice .content_wrap{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    gap: 32px;
}
.choice .content_wrap .content_container{
    width: calc((100% - 32px)/2);
    display: flex;
    gap: 32px;
}
.choice .content_wrap .content_container .content_box{
    width: calc((100% - 32px)/2);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.choice .content_wrap .content_container .content_box .content{
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    background: linear-gradient(#fafafa,rgba(255, 255, 255, 0) 40%);
}
.choice .content_wrap .content_container .content_box .content img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.choice .content_wrap .content_container .content_box .content.small{
    aspect-ratio: 1/1;
}
.choice .content_wrap .content_container .content_box .content.large{
    aspect-ratio: 1/1.25;
}
.choice .content_wrap .content_container .content_box .content .txt_box{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -80px;
    left: 0;
    border-bottom: 4px solid #ddd;
}
.choice .content_wrap .content_container .content_box .content .txt_box h2{
    padding: 8px 0 8px 12px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}
.choice .content_wrap .content_container .content_box .content .txt_box h2::before{
    content: " ";
    width: 4px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #E1002B;
}
.choice .content_wrap .content_container .content_box .content .txt_box p{
    font-size: 16px;
}
.choice .btm_container{
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.choice .btm_container.active{
    visibility: hidden;
}
.choice .btm_container .btn{
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 28px;
    display: inline-block;
    background-color: #fff;
    border: 2px solid #999;
}
.choice .btm_container .btn h3{
    padding-right: 20px;
    position: relative;
}
.choice .btm_container .btn h3::after{
    content: " ";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    border-radius: 2px;
    transform: rotate(90deg);
}
.choice .btm_container .btn h3::before{
    content: " ";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    border-radius: 2px;
}
/* choice ed */
/* img list st */
.img_list .wrap{
    max-width: 1480px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    gap: 40px;
}
.img_list .wrap .img_container{
    width: calc((100% - 40px)/2);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.img_list .wrap .img_container .img_box{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.img_list .wrap .img_container .img_box img{
    width: 100%;
}
.img_list .wrap .img_container .img_box.small{
    aspect-ratio: 1/1;
}
.img_list .wrap .img_container .img_box.large{
    aspect-ratio: 1/1.25;
}
.img_list .wrap .img_container .img_box.display{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.img_list .wrap .img_container .img_box.display .content:nth-child(1){
    width: 100%;
    height: 40%;
    overflow: hidden;
}
.img_list .wrap .img_container .img_box.display .content:nth-child(2), .img_list .wrap .img_container .img_box.display .content:nth-child(3){
    width: calc((100% - 40px)/2);
    height: calc(60% - 40px);
}
.img_list .wrap .img_container .img_box.display .content:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_list .wrap .img_container .img_box.display .content:nth-child(2) img{
    width: 80%;
}
.img_list .wrap .img_container .img_box .bg{
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
}
.img_list .wrap .img_container .img_box .bg.bg_top{
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0));
}
.img_list .wrap .img_container .img_box .bg.bg_bottom{
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}
.img_list .wrap .img_container .img_box .txt_box{
    width: 100%;
    padding: 40px;
    position: absolute;
    left: 0;
}
.img_list .wrap .img_container .img_box .txt_box.txt_top{
    top: 0;
}
.img_list .wrap .img_container .img_box .txt_box.txt_bottom{
    bottom: 0;
}
.img_list .wrap .img_container .img_box .txt_box h2{
    font-size: 32PX;
    line-height: 36px;
    font-weight: 700;
}
.img_list .wrap .img_container .img_box .txt_box h3{
    padding: 8px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}
/* img list ed */
/* espresso bar st */
.espresso_bar{
    height: 100vh;
    margin-bottom: 0;
    position: relative;
    background-image: url(../img/espresso_bar_bg_img.png);
    background-size: cover;
}
.espresso_bar .txt_box{
    max-width: 1480px;
    margin: 0 auto;
    padding: 160px 40px;
    position: relative;
    color: #fff;
}
.espresso_bar .txt_box h1{
    font-size: 64px;
    font-weight: 900;
}
.espresso_bar .txt_box h2{
    font-size: 32px;
    line-height: 40px;
    padding: 40px 0;
}
.espresso_bar .txt_box .btn{
    padding: 20px 30px;
    display: inline-block;
    font-weight: 600;
    border-radius: 32px;
    background-color: #fff;
    border: 2px solid #999;
    transition: all 0.5s;
}
.espresso_bar .txt_box .btn h3{
    font-size: 24px;
    padding-right: 20px;
    position: relative;
    color: #222;
}
.espresso_bar .txt_box .btn h3::after{
    content: " ";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 40%;
    right: 0;
    background-color: #222;
    border-radius: 2px;
    transform: rotate(45deg);
}
.espresso_bar .txt_box .btn h3::before{
    content: " ";
    width: 2px;
    height: 75%;
    position: absolute;
    top: -10%;
    right: 0;
    background-color: #222;
    border-radius: 2px;
    transform: rotate(-45deg);
}
.espresso_bar .txt_box .btn:hover{
    background-color: #E1002B;
    border: 2px solid #fff;
}
.espresso_bar .txt_box .btn:hover h3{
    color: #fff;
}
.espresso_bar .txt_box .btn:hover h3::after{
    background-color: #fff;
}
.espresso_bar .txt_box .btn:hover h3::before{
    background-color: #fff;
}
/* espresso bar ed */
/* section ed */